# macOS 
.DS_Store

#local folders
/config/karabiner/automatic_backups/
/config/gh/hosts.yml
/config/iterm2/AppSupport
/config/iterm2/sockets/
/config/zsh/aliases.local

# ssh: templates only
/ssh/*
!/ssh/README.md
!/ssh/config.example

# 编辑器备份文件 (例如 vim)
*.swp
*~
